@import './vars.css';

.menu {
  nav {
    background-color: var(--primary-green);

    .logo {
      position: absolute;
      height: 60px;
    }

    .title {
      margin-left: 60px;
      color: white;
      font-size: 24px;
      font-family: var(--playfair);
    }
  }

  .fill-fix {
    height: 20px;
  }
}
