@import './vars.css';

#create-player-button {
  width: 100%
}

.name {
  font-size: 40px;
  font-family: var(--playfair);

  color: var(--primary-green);

  .first {
    padding-right: 10px;
  }

}

.player-profile {

  .row:not(:first-child) {

    div:first-child {

      font-weight: 600

    }

  }

}
