@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './components/theme.postcss';
@import './components/table.postcss';
@import './components/404.postcss';
@import './components/menu.postcss';
@import './components/login.postcss';
@import './components/register.postcss';
@import './components/console.postcss';

html ,body, #react-app, #react-app > div {
  width: 100%;
  height: 100%;
}

#react-app {
  font-family: var(--roboto);
}
