@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './components/404.postcss';
@import './components/menu.postcss';
@import './components/console.postcss';

html ,body, #react-app, #react-app > div {
  width: 100%;
  height: 100%;
}

#react-app {
  font-family: var(--roboto);
}

.container {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-wdith: 901px) and (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
